[bot]
TOKEN=

[data]
FILE=menu.csv
SHOULD_LOAD=yes

[postgres]
USERNAME=
PASSWORD=
HOST=
DATABASE=

[script]
DATE_FORMAT_STRING=%Y-%m-%d
DATE_KEY=date
NAME_KEY=name
DISH_KEY=dishes
DISH_STRING_SEPARATOR=,