date,week,day,type_of_meal,name,dishes
2017-01-14,0,Sunday,Dinner,Noodles
2017-01-14,0,Sunday,Dinner,Mixed rice,Curry chicken,Roast pork,Fried fish,Egg,Tofu,Tomatoes
2017-01-15,1,Monday,Breakfast,Cookies
2017-02-28,Recess week,Wednesday,Breakfast,Croissant
2017-02-28,Recess week,Wednesday,Breakfast,Cake
