date,type_of_meal,name,dishes,,,
12/1/2018,breakfast,croissant,,,,
12/1/2018,breakfast,pancakes,,,,
12/1/2018,dinner,mixed rice,curry chicken,fried fish,roasted pork,
12/1/2018,dinner,chicken rice,,,,
13/1/2018,breakfast,kaya toast,,,,
13/1/2018,breakfast,century egg porridge,,,,
13/1/2018,breakfast,spam and eggs,,,,
13/1/2018,dinner,mixed rice,chicken and mushroom,sweet and sour pork,pumpkin,tomatoes
13/1/2018,dinner,hor fun,,,,
14/1/2018,breakfast,dim sum,carrot cake,you tiao,,
14/1/2018,dinner,mixed rice,tofu,vegetable,,
14/1/2018,dinner,wanton mee,,,,
14/1/2018,dinner,nasi lemak,,,,
